body {
    box-sizing: border-box;
    margin: auto;
}

#container {
    width: 50%;
    margin: auto;
    padding: auto;
}

td{
    width: 30%;
}
tr {
    width: 300px;
}
input {
    width: 265px;
    border-radius: 3px;
}

input[type="button"]{
    width: 100%;
}

table {
    background: dimgray;
}

h1 {
    text-align: center;
}